:root {
  --layout-width: 44rem;
}

.with-sidebar{
    display: flex;
    flex-wrap: wrap;
}

.border {
    width: 400px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, red, white, white, yellow);
    border-image-slice: 1;
    padding: 5px;
}
    

.sidebar{
    flex-basis: 16rem; 
    flex-grow: 1;
    text-align: right;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.centered-layout {
  width: 560px;
  margin-inline: auto;
  padding-inline: 1rem;
}